﻿@model Instagram.ViewModels.CreatePostModel

@{
    ViewData["Title"] = "Create post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create post</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PostImage"></label><br />
                <input class="form-control" type="file" name="PostImage" accept="image/*" /> 
            </div>
            <div class="form-group">
                <input type="submit" value="create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>