﻿@model Instagram.ViewModels.PostDetailsViewModel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Likes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.PostDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.PostDate)
        </dd>
    </dl>
</div>


<div>   
@*     @{ *@
@*         Html.RenderPartial("PostsList", Model.CommentsViewModel); *@
@*      } *@
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
