﻿@model List<User>

<div id="searchresults">
    @if (Model.Count > 0)
    {
        foreach (User user in Model)
        {
            <span><img src="~/@user.AvatarImage" width="100" height="100" /></span>
            <span>@user.Login</span>
            <a asp-action="Profile" asp-controller="Home" asp-route-userId="@user.Id">LINK</a>
        }
    }
</div>
