﻿@model Instagram.ViewModels.CommentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
        
        
@if(!Model.Comments.Any())
{
    <text>nobody commented yet</text>
}
else
{
    <dl class="dl-horizontal">
        @foreach (Comment comment in Model.Comments)
        {
            <dt>
                @comment.CommentDate.ToString("MM/dd/yyyy")
            </dt>
            <dd>
                @comment.Text
            </dd>
        }
    </dl>

}

@* @{ Html.RenderPartialAsync("PostsList", Model.Comments);} *@