﻿@model Instagram.ViewModels.IndexModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

<div>
    <h2>@Model.User.Login</h2>
    <hr/>
    <img src="~/@Model.User.AvatarImage" width="100" height="100" />
    @Html.ActionLink("Create post", "Create", "Post")
</div>

<div>
    <table>
        <tr>
            <td>Posts</td>
            <td>Followers</td>
            <td>Follow</td>
        </tr>
        <tr>
            <td>@Model.User.PostCounter</td>
            <td>@Model.User.Subscribers</td>
            <td>@Model.User.Subscriptions</td>
        </tr>
    </table>
</div>



@{ Html.RenderPartialAsync("PostsList", Model.PostsFeed);}