﻿@model List<Post>
<div>
    @foreach (Post post in Model)
    {
        <h4>@post.User.Login</h4>
        <img src="~/@post.PostImagePath" width="500" height="500"/>
        <div>
            <input type="button" id="deleteId" onclick="deletePost('@post.Id', '@post.UserId')" value="Delete post"/>
            Likes (<span id="likecount-@post.Id">@post.Likes</span>)<br/>
            <input type="button" id="postLike" onclick="LikePost('@post.Id', '@post.UserId')" value="Like"/>
            <input type="button" id="postDisLike" onclick="DisLikePost('@post.Id', '@post.UserId')" value="DisLike"/>
        </div>
        <div id="editTitleId-@post.Id">
            Title:@post.Title<br/>
            <a onclick="openEditForm(@post.Id)" style="cursor: pointer">Edit title</a>
        </div>
        <div id="editdiv-@post.Id" style="display: none">
            <textarea id="posttext-@post.Id"></textarea>
            <input type="button" id="editId" onclick="editTitle('@post.Id', '@post.User.Login')" value="Edit"/>
        </div>
       
        <div>
            Комментарии (@post.Comments.Count)<br/>
            <a onclick="openCommentForm(@post.Id)" style="cursor: pointer">Оставить комментарий</a>
        </div>
        <div id="postdiv-@post.Id" style="display:none">
            <textarea id="posttext-@post.Id"></textarea>
            <input type="button" id="postComment" onclick="sendComment('@post.Id', '@post.User.Login')" value="Отправить"/>
        </div>
        <div id="commentId-@post.Id">
            @foreach (Comment comment in post.Comments)
            {
                <h5>@comment.UserId</h5>
                <h5>@comment.CommentDate</h5>
                <h5>@comment.Text</h5>
            }
        </div>
        <hr/>         
    }
</div>

<script>

    function openCommentForm(postId) {            
    $('#postdiv-' + postId).show();
    }
    
    function sendComment(postId, userId) {
    $.ajax({
    url: '@Url.Action("Comment", "Post")',
                type: 'POST',
                data: { 'postId': postId, 'userId': userId, 'text': $('#posttext-' + postId).val() },
                success: function(data) {
                    console.log('все ок');
                    console.log(data);
                    $('#commentId-' + postId).html(data);
                },
                error: function() {
                    console.log('Ошибка во время отправки комментария');
                }
            });
        }
    
    function openEditForm(postId) {            
        $('#editdiv-' + postId).show();
    }
    
    function editTitle(postId, userId) {
        $.ajax({
            url: '@Url.Action("Edit", "Post")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId, 'text': $('#posttext-' + postId).val() },
            success: function(data) {
                console.log('все ок');
                console.log(data);
                $('#editTitleId-' + postId).html(data);
            },
            error: function() {
                console.log('Ошибка во время отправки');
            }
        });
    }
    
    function LikePost(postId, userId) {
        $.ajax({
            url: '@Url.Action("Like", "Post")',
            type: 'Post',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                console.log('все ок');
                console.log(data);
                $('#likecount-' + postId).html(data);
            },
            error: function() {
                console.log('Error Like');
            }
        });
    }
    function DisLikePost(postId, userId) {
        $.ajax({
            url: '@Url.Action("DisLike", "Post")',
            type: 'Post',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                console.log('все ок');
                console.log(data);
                $('#likecount-' + postId).html(data);
            },
            error: function() {
                console.log('Error DisLike');
            }
        });
    }
</script>
