﻿@using Microsoft.EntityFrameworkCore.Scaffolding.Internal
@model Instagram.ViewModels.ProfileModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <h2>@Model.User.Login</h2>
    <hr/>
    <img src="~/@Model.User.AvatarImage" width="100" height="100" />
</div>

<div id="userAvatar">
    @{ Html.RenderPartialAsync("UsersList", Model);}
    
</div>


@{ Html.RenderPartialAsync("PostsList", Model.User.Posts);}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#FollowId').click(function(e) {

                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("Subscribe", "Subscription")',
                    type: 'Post',
                    data: { 'currentUserLogin': "@Model.ViewerUser.Login", 'followersId': "@Model.User.Id" },
                    success: function(data) {

                        console.log('все ок');
                        console.log(data);
                        var obj = JSON.parse(data)
                        $('#subscribeForm').hide();
                        $('#unSubscribeForm').show();
                        console.log(obj.subscribers);
                        $('#subscribersId').html(obj.subscribers);
                        $('#subscriptionId').html(obj.subscriptions);
                    },
                    error: function() {
                        console.log('Error');
                    }
                });
            });
        });


        $(document).ready(function() {
            $('#UnfollowId').click(function(e) {

                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("UnSubscribe", "Subscription")',
                    type: 'Post',
                    data: { 'currentUserLogin': "@Model.ViewerUser.Login", 'followersId': "@Model.User.Id" },
                    success: function(data) {
                        console.log('все ок');
                        console.log(data);
                        var obj = JSON.parse(data);
                        console.log(obj.subscribers);
                        $('#subscribeForm').show();
                        $('#unSubscribeForm').hide();
                        $('#subscribersId').html(obj.subscribers);
                        $('#subscriptionId').html(obj.subscriptions);
                    },
                    error: function() {
                        console.log('Error');
                    }
                });
            });
        });

    </script>
}