﻿@model IEnumerable<Instagram.Models.User>

@* @{ *@
@*     ViewData["Title"] = "Search"; *@
@* } *@
@* *@
@* <h2>Search</h2> *@
@* *@
@* <form method="get" asp-action="SearchAjax"> *@
@*     <input type="text" name="key" /> *@
@*     <input type="submit" value="Search" /> *@
@* </form> *@
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th> *@
@*             @Html.DisplayNameFor(model => model.AvatarImage) *@
@*         </th> *@
@*         <th> *@
@*             @Html.DisplayNameFor(model => model.Login) *@
@*         </th> *@
@*         <th> *@
@*             @Html.DisplayNameFor(model => model.Name) *@
@*         </th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 <img src="~/@item.AvatarImage" width="100" height="100"/> *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Login) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Name) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.ActionLink("Profile", "Profile", new { userId =item.Id }) | *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поиск пользователей</title>
</head>
<body>
<input type="text" name="searchKey" id="search" />
<input type='button' id="submit" value='Найти' />
<div id="results"></div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#submit').click(function(e) {
                e.preventDefault();
                var searchKey = $('#search').val();
                searchKey = encodeURIComponent(searchKey);
                $('#results').load('@Url.Action("SearchAjaxResult", "Home")?keyWord=' + searchKey);
            });
        });
    </script>
}
</body>
</html>
