﻿@model Instagram.ViewModels.ProfileModel

@{
    string subscribeFormStyle;
    string unsubscribeFormStyle;
}

@if (!Model.isSubscribed)
{
    subscribeFormStyle = "";
    unsubscribeFormStyle = "display: none;";
}
else
{
    subscribeFormStyle = "display: none;";
    unsubscribeFormStyle = "";
}

<div id="subscribeForm" style="@subscribeFormStyle">
    <form id="subscribeId-@Model.User.Id" method="post" asp-controller="Subscription" asp-action="Subscribe">
        <input type="hidden" name="currentUserLogin" value="@Model.ViewerUser.Login"/>
        <input type="hidden" name="followersId" value="@Model.User.Id"/>
        <input type="button" id="FollowId" value="follow"/>
    </form>
</div>

<div id="unSubscribeForm" style="@unsubscribeFormStyle">
    <form id="unsubscribeId-@Model.User.Id" method="post" asp-controller="Subscription" asp-action="UnSubscribe">
        <input type="hidden" name="currentUserLogin" value="@Model.ViewerUser.Login"/>
        <input type="hidden" name="followersId" value="@Model.User.Id"/>
        <input type="button" id="UnfollowId" value="unfollow"/>
    </form>
</div>

<div>
    <table>
        <tr>
            <td>Posts</td>
            <td>Followers</td>
            <td>Follow</td>
        </tr>
        <tr>
            <td>@Model.User.PostCounter</td>
            <td id="subscribersId">@Model.User.Subscribers</td>
            <td id="subscriptionsId">@Model.User.Subscriptions</td>
        </tr>
    </table>
</div>